<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= title %></title>
      <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
      <link href="/css/styles.css" rel="stylesheet">
   </head>
   <body>
     <header class="text-center">
     	<div class="container vertical-align text-center jumbotron">
     		<h1>Tervetuloa omille sivuille!</h1>
     	</div>
     </header>
     <div class="container-fluid">
     	<div class="row homeOptions">

        <div class="col-md-4 text-center userPageTile">
          <a href="" class="thumbnail well">
            <img src="/images/graph2.png" alt="graph" class="userPagePanel">
            <h2>AIKAISEMMAT MITTAUKSET</h2>
          </a>
        </div>

        <div class="col-md-4 text-center userPageTile">
     			<a href="/selectDevices" class="thumbnail well">
     				<img src="/images/measure.png" alt="stethoscope" class="userPagePanel">
     				<h2>TEE UUSI MITTAUS</h2>
     			</a>
     		</div>

     		<div class="col-md-4 text-center userPageTile">
     			<a href="" class="thumbnail well">
     				<img src="/images/account.png" alt="settings" class="userPagePanel">
     				<h2>OMAT TIEDOT</h2>
     			</a>
     		</div>
         	<a href="/signout" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-log-out"> </span>  Kirjaudu ulos</a>
     	</div>
     </div>

     <style>
       h1 {
         font-size: 55px !important;
         letter-spacing: 1px;
       }
       body {
         background: #fff;
       }
     </style>
   </body>
</html>
