<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= title %></title>
      <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
      <link href="/css/styles.css" rel="stylesheet">
   </head>
   <body>
     <section class="container">
      <p>
         <h2>Welcome <strong><%= user.username %></strong></h2><br>
         Your weight is <%= user.Weight %><br>
         Your height is <%= user.Height %><br>
         <a href="/signout" title="sign out">sign out</a>
         <a href="/home">Go to home page</a>
      </p>
    </section>
   </body>
</html>
