<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	<link href="/css/styles.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
	<h1 class="text-center" style="font-size: 5.5em; font-weight: bold; margin: 130px 0px 150px 0px;">Valitse suoritettavat mittaukset</h1>
	<div class="btn-toolbar" role="toolbar">
		<div class="selectDevice center-block" data-toggle="buttons">
			<label class="btn btn-lg measuringDevices">
				<input type="checkbox" class="checkbox" autocomplete="off">
				<p class="centerText">Pituus</p>
			</label>
			<label class="btn btn-lg measuringDevices">
				<input type="checkbox" class="checkbox" autocomplete="off">
				<p class="centerText">Paino</p>
			</label>
			<label class="btn btn-lg measuringDevices">
				<input type="checkbox" class="checkbox" autocomplete="off">
				<p>Kehon-<br>koostumus</p>
			</label>
			<label class="btn btn-lg measuringDevices">
				<input type="checkbox" class="checkbox" autocomplete="off">
				<p class="centerText">Verenpaine</p>
			</label>
		</div>
	</div>
	<h2 id="huom" class="text-center" style="font-weight: bold; margin: 90px 0px 50px 0px;"></h2>
	<div class="text-center">
		<button type="button" class="btn btn-lg selectAll" id="toggle-btn">Valitse kaikki</button>
	</div>
</div>

<footer class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<a href="/home" class="btn btn-lg back" role="button"><span class="glyphicon glyphicon-menu-left"></span>Takaisin</a>
			<a href="" class="btn btn-lg" role="button">Keskeytä</a>
		</div>
		<div class="col-sm-8">
			<a href="/measurementsDone" class="btn btn-lg absolute disabled">Seuraava<span class="glyphicon glyphicon-menu-right"></span></a>
		</div>
	</div>
</footer>
</body>
</html>

<style>

.container-fluid {
	font-weight: bold;
}

.btn {
	background-color: #ffd200;
	color: black;
	box-shadow: 2px 1px 2px 2px #cccccc;
}

label.btn {
	margin: 0px 50px;
	width: 350px;
	height: 200px;
	padding: 20px;
	border: 0;
	/*text-align: center;*/
	font-size: 4em;
}

.centerText {
	line-height: 150px;
}

.selectDevice {
	width: 1800px;
	margin: auto;
}
/*
.btn:active {
	background-color: #bda019;
}
*/
.selectAll {
	background-color: #008ecf;
	color: white;
	font-weight: bold;
	width: 400px;
	height: 100px;
	font-size: 2em;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 50px;
	left: 30px;
	margin-bottom: 50px;
}

a.btn {
	width: 250px;
	font-size: 3em;
	margin-right: 40px;

}

.absolute {
	position: absolute;
	right: 80px;
	font-size: 3em;
	width: 300px !important;
	background-color: #17D63A;
	margin-bottom: 300px;
}

a .glyphicon {
	top: 7px !important;
}

.back {
	background-color: #7BE5E2;
	width: 300px !important;
}

.btn:hover, .btn:focus, .btn.focus {
	color: black;
	outline: none;
}





</style>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/jquery-ui/jquery-ui.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
<script>if (window.module) module = window.module;</script>
