<!DOCTYPE html>
<html lang="en">
   <head>
     <title><%= title %></title>
     <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
     <link href="/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet">
     <link href="/css/styles.css" rel="stylesheet">
   </head>
   <!-- <header class="jumbotron vertical-center">
     <div class="container">
	      <h1>Luo uusi käyttäjätunnus</h1>
     </div>
</header -->

   <body>
     <div class="backgroung_img"></div>
     <div class="container">
       <div class="signin-box">
      <form method="post" action="/signup" id="registrationForm" class="form-horizontal" role="form" name='registration-form' data-toggle="validator">
        <h2>Täytä kaikki kentät</h2>

         <% if(typeof(errorMessage) !== 'undefined') {%>
         <span><%= errorMessage %></span>
         <% } %>

         <div class="form-group">
            <label for="username" class="control-label col-sm-2">Käyttäjätunnus:</label>
            <div class="col-sm-10">
            <input class="form-control input-lg registration" type="text" name="username" id="username" autofocus="autofocus" pattern="[^ö^ä^å][a-zA-Z0-9]+" data-pattern-error="Please do not use special symbols, incl. ö, ä, å"/>
            <div class="help-block with-errors"></div>
          </div>
         </div>

         <div class="form-group">
           <label for="optradio" class="control-label col-sm-2">Sukupuoli:</label>
           <div  class="col-sm-10">
             <div class="btn-group" data-toggle="buttons">
               <label class="btn btn-default btn-lg">
                 <input type="radio" name="sex" value="M">Mies
               </label>
               <label class="btn btn-default btn-lg">
                 <input type="radio" name="sex" value="F">Nainen
               </label>
             </div>
           </div>
         </div>

         <div class="form-group">
           <label for="dateOfBirth" class="control-label col-sm-2">Syntymäaika:</label>
           <div  class="col-sm-10">
             <div class="input-group date" id="datetimepicker">
                 <input type="text" class="form-control input-lg registration" name="dateOfBirth"  id="dateOfBirth" placeholder="pp.kk.vvvv"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="control-label col-sm-2">Sähköposti:</label>
          <div  class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" data-error="Bruh, that email address is invalid" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$">
            <div class="help-block"></div>
          </div>
        </div>

         <div class="form-group">
          <label class="control-label col-sm-2" for="password">Salasana:</label>
            <div  class="col-sm-10">
              <input class="form-control" type="password" name="password" id="password" data-minlength="8" required/>
              <p class="text-muted">Salasanan on oltava vähintään 8 merkkiä.</p>
           </div>
        </div>

        <div class="form-group">
          <label for="pswd" class="control-label col-sm-2">Salasana uudelleen:</label>
          <div  class="col-sm-10">
            <input type="password" data-match-error="Whoops, these don't match" class="form-control" id="pswdVerification" name="pswdVerification" data-match="#password" required>
            <div class="help-block with-errors"></div>
          </div>
        </div>

        <br>
          <a href="/signin" class="btn btn-primary btn-lg" role="button" id="back"><span class="glyphicon glyphicon-menu-left"></span> Takaisin</a>
          <button class="btn btn-success btn-lg" type="submit" name="signup" id="signup" value="sign in"/>Lähetä</button>
      </form>
    </div>
    </div>

    <!-- Makes jQuiery & other plugins work in Electron -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bootstrap-validator/dist/validator.min.js"></script>
    <script>
      $( function() {
        $( "#dateOfBirth" ).datepicker({
         changeMonth: true,
         changeYear: true,
         yearRange: "-100:+0",
         dateFormat: "dd.mm.yy"
         });
      } );

      /* removes autofocus from username input field,
      allowing to go back to login immediately    */
      $('#back').on('click', removeFocus);
      function removeFocus(){
        $("input#username").blur();
      };

      var foo = $('input#username');
      foo.keyup(function(){
        var usernameInput = foo.val();
        $.post('/users', {username: usernameInput},
        function(data){
          if (data == "yes") {
            console.log('Sorry, mate!');
            foo.next('.help-block').parents(".form-group").addClass("has-error has-danger");
            foo.next('.help-block').html('<p>This username already exists</p>');
          } else {
            foo.next('.help-block').parents(".form-group").removeClass("has-error has-danger");
            foo.next('.help-block').html('');
            console.log('Good to go, buddy!');
          }
        });
      });

      // var email = $('input#email');
      // email.keyup(function(){
      //   var anyValue = email.val().trim();
      //   if (anyValue.length < 4) {
      //     $(".help-block").removeClass("with-errors");
      //     console.log("adjksn");
      //   } else if (anyValue.length === 0){
      //     $(".help-block").hide();
      //   } else {
      //     $(".help-block").addClass("with-errors");
      //   }
      // });


    </script>
    <script>if (window.module) module = window.module;</script>

    <style>

      .signin-box {
        padding-bottom: 30px;
      }

      .signin-box h2 {
        width: 111%;
        margin-left: -3.5%;
        margin-bottom: 55px;
      }

      .form-group {
        margin-top: 25px;
        margin-bottom: 10px;
      }

      #signup {
        margin-left: 45%;
        width: 20%;
      }
      #back {
        margin-left: 10%;
        width: 20%;
      }

    </style>

   </body>
</html>
