<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= title %></title>
      <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
      <link href="/css/styles.css" rel="stylesheet">
   </head>


   <body>
     <div class="backgroung_img"></div>
     <div class="container">
       <div class="row">
         <div class="col-md-8 login-col signin-box">
          <h2>Kirjaudu sisään</h2>
          <form method="post" action="/signin" role="form">
             <!-- <% if(typeof(errorMessage) !== 'undefined') {%>
                <span><%= errorMessage %></span>
             <% } %> -->
             <div class="form-group">
                <label for="username">Käyttäjätunnus:</label>
                <input class="form-control input-lg" type="text" name="username" id="username" required="true" autofocus="autofocus"/>
                <div class="help-block with-errors"></div>
             </div>
             <div class="form-group">
                <label for="password">Salasana:</label><br>
                <input class="form-control input-lg" type="password" name="password" id="password" required="true"/>
             </div>
                <button class="btn btn-lg btn-info" type="submit" name="signin" id="signin" value="sign in"/>Kirjaudu</button>
                <div class="reg-section">
                  <h3>Luo uusi käyttäjätunnus</h3>
                  <a href="/signup" id="btn-reg" class="btn btn-primary btn-lg" role="button">Rekisteröidy</a>
              </div>
          </form>

        </div>

    </div>
  </div>
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/jquery-ui/jquery-ui.min.js"></script>
  <script>
    var foo = $('input#username');
    foo.keyup(function(){
      var usernameInput = foo.val();
      $.post('/users', {username: usernameInput},
      function(data){
        if (data !== "yes") {
          console.log('No such user');
          foo.next('.help-block').parents(".form-group").addClass("has-error has-danger");
          foo.next('.help-block').html('<p>Invalid username</p>');
        } else {
          foo.next('.help-block').parents(".form-group").removeClass("has-error has-danger");
          foo.next('.help-block').html('');
          // console.log('Ok user exists');
        }
      });
    });
  </script>
  <script>if (window.module) module = window.module;</script>
  </body>
</html>
