a {
  color: #00B7FF;
}

a:hover {
  text-decoration: none;
  border: none;
}

body {
	font-family: 'Open Sans', sans-serif;
  background-color: #69CAE9;
  /*#f0ffff;*/
}


.backgroung_img {
  background-image: url("/images/O68I4S0.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);

  -webkit-filter: grayscale(50%);
  -moz-filter:    grayscale(50%);
  -ms-filter:     grayscale(50%);
  -o-filter:      grayscale(50%);
}

.signin-box {
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px #2874A6;
  padding-bottom: 0;
  margin: auto;
  margin-top: 10%;
}

.signin-box h2 {
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  font-size: 35px;
  border-bottom: 1px solid #ABB2B9;
  margin-left: -1.9%;
  padding-bottom: 30px;
  margin-bottom: 25px;
  margin-top: 0px;
  background-color: #D7DBDD;
  text-transform: uppercase;
  border-radius: 10px 10px 0px 0px;
}

#signin {
  /*background-color: #DCECFC;*/
  margin: auto;
  width: 100%;
  border: 1px solid #AEB6BF;
  box-shadow: 0px 0px 10px #C8C9CB;
  margin-bottom: 7%;
  height: 12%;
}

.reg-section {
  padding-top: 2%;
  border-top: 1px solid #ABB2B9;
}

.reg-section h3 {
  margin-bottom: 5%;
}

/* Signin and login froms */

form {
	margin: 100px 30px 40px 30px;
  width: 90%;
}

.login-col h2 {
  width: 100%;
  position: absolute;
}
.reg-col {
  margin-top: 20%;}
.reg-col h2 {
  width: 100%;
  position: absolute;

}
h3 {
  margin-bottom: 50px;
}

#btn-reg {
  height: 10%;
  margin-bottom: 5%;
}
.login-col {
  border-right: 1px solid lightgray;
}
.reg-col {
  padding-left: 50px;
}
.form-control {
  height: 70px;
}
.form-group {
  margin-bottom: 40px;
  margin-top: 30px;
}

/* HOME all columns of one height */

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: row;
}


.btn.active.focus {
  outline:none;
  box-shadow:none;
}

.jumbotron {
	background-color: #4b87c8;
	color: black;
	border-bottom: 5px solid #3C4145;
	font-weight: bold;
  width: 100%;
  color: white;
}

.homeOptions {
  width: 110%;
  margin: auto;
  margin-left: 2%;
}

.userPagePanel {
	padding: 10px;
  height: 90%;
  width: 90%;
}
.well {
	box-shadow: 4px 4px 4px 0 #cccccc;
}

.btn-danger {
  margin-left: 77%;
  margin-top: 5%;
}

.registrationSuccessful {
	color: #5cb85c;
	text-align: center;
}

#alertMessage {
	color: #d9534f;
	font-size: 1.5em;
	/*font-weight: bold;*/
}

.registrationIcon {
	font-size: 2em;
	margin-top: 2px;
}

.messageIcon {
	margin-right: 8px;
	font-size: 1.25em;
}

#logOut {
	position: fixed;
	bottom: 20px;
	right: 40px;
	font-size: 1.75em;
}

.userPageTile {
	width: 350px;
	height: 400px;
	margin: 50px 50px;

}

.groupOfTiles {
	margin: auto;
	width: 90%;
	/*
	margin-top: 30px;
	margin-bottom: 30px;
	*/
}
.btn-toolbar{
  text-align: center;
}


/* ==================
  SELECT DEVICES PAGE
==================== */

#huom span {
  /*border: 1px solid red;*/
  color: rgba(246, 35, 6, 1);
}

#toggle-btn.btn:hover, btn:focus, btn.focus {
  color: #fff;
  border: none;
  outline: none;
}
